.experience {
  display: flex;
  align-items: center;
  background: var(--bg-primary);
  padding: 40px 0 0;
  position: relative;
}

.experienceContainer {
  max-width: 900px;
}

.experienceWrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 20px;
  align-items: start;
}

.introBadge {
  display: inline-block;
  padding: 8px 20px;
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  color: var(--accent-color);
  font-size: 0.9rem;
  margin-bottom: 25px;
  font-weight: 700;
}

.experienceTitle {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-primary);
  line-height: 2.59rem;
  margin-bottom: 20px;

}

.companiesGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.companyCard {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--border-color);
  transition: all 0.3s ease;
}

.companyCard:hover {
  border-color: var(--accent-color);
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(128, 128, 0, 0.2);
}

.companyContent {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.companyLogo {
  max-width: 180px;
  max-height: 60px;
  width: auto;
  height: auto;
  object-fit: contain;
  transition: all 0.3s ease;
}

.companyCard:hover .companyLogo {
  filter: grayscale(0%) brightness(1);
}

.companyInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.companyName {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-primary);
  line-height: 1.5rem;
}

.companyRole {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--accent-color);
  line-height: 1rem;

}

.companyDuration {
  font-size: 0.9rem;
  color: var(--text-muted);
  display: flex;
  align-items: center;
  gap: 3px;
}

.companyDuration::before {
  content: '📅';
  font-size: 0.9rem;
}

.companyDescription {
  color: var(--text-secondary);
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .experienceWrapper {
    gap: 60px;
  }

  .experienceTitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 968px) {
  .experienceWrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experienceTitle {
    font-size: 2.2rem;
  }

  .companiesGrid {
    gap: 25px;
  }

  .companyCard {
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .experience {
    padding: 0;
  }

  .experienceTitle {
    font-size: 2rem;
    margin-bottom: 0;
  }

  .companiesGrid {
    gap: 20px;
  }

  .companyCard {
    padding: 25px;
  }

  .companyLogo {
    max-width: 150px;
    max-height: 50px;
  }

  .companyName {
    font-size: 1.3rem;
  }

  .companyRole {
    font-size: 1rem;
    line-height: 1;
  }
}